# RESHAPE FUNCTION

In [3]:
#Importing library
import numpy as np

In [4]:
#Generating 20 random numbers from 1 to 100 
arr = np.random.randint(1,100,20)
arr

array([78, 18, 74, 60, 81, 83, 86, 99, 18, 50, 64, 68, 78, 57, 83, 88, 75,
       85, 42, 67])

In [7]:
#Checking the dimension of array
arr.ndim
#Here this is 1D dimension

1

In [10]:
#Converting this 1D array into 2D by using reshape function
arr1 = arr.reshape(2,10) # 2 * 10 = 20
arr1
#Number of rows multipy by number of column should have equals to numbers of random numbers generated

array([[78, 18, 74, 60, 81, 83, 86, 99, 18, 50],
       [64, 68, 78, 57, 83, 88, 75, 85, 42, 67]])

In [11]:
#Checking the dimension of 
arr1.ndim
#Here this is a 2D dimension

2

In [12]:
#Converting 2D dimension array into 1D dimension
arr1 = arr1.reshape(20)
arr1

array([78, 18, 74, 60, 81, 83, 86, 99, 18, 50, 64, 68, 78, 57, 83, 88, 75,
       85, 42, 67])

In [25]:
#Generating 100 numbers from 1 to 500 range
arr2 = np.random.randint(1,500,100)
arr2

array([312, 115, 334, 142, 425, 262, 303, 120, 396, 471, 259, 315, 314,
       491, 112, 304, 241, 197, 287, 125,  80,  48, 196, 457, 284,  22,
       197, 276, 439, 288, 401, 339, 172, 431, 300, 435, 493, 417, 279,
       266,  19, 366,  95, 213,  98, 290, 230, 240, 118, 132, 416, 345,
       321, 395,   2, 278, 389, 453, 381, 332, 306, 341,  86, 113, 378,
       322, 360, 146,  30, 156, 188,  67, 376, 479, 468, 433,  58, 469,
       196,  78, 217, 211, 484, 222, 117, 235,  69, 381,   7, 339, 407,
       170, 161, 431,  86, 274, 423, 187,  30, 415])

In [19]:
#Converting this array into 2D dimension
arr2 = arr2.reshape(2,50)
arr2

array([[427,  67, 346, 236, 221,  38, 333, 327, 425, 199, 164, 340,  91,
         44, 192,  25, 311, 431, 178, 274, 399,  67,  97, 439, 227,  82,
        100, 120, 252, 132,  73, 480, 448, 124, 304, 490, 311, 433, 144,
        110, 198, 396, 466, 267,   1,  19,  52, 481, 375, 353],
       [431, 268, 183, 401, 103, 188, 324, 257, 308, 364, 140, 324, 217,
        337, 119, 300, 372,  60, 420, 216, 278,  88, 102,  63, 371, 477,
        494, 392, 351, 142, 418, 130, 458, 131, 212, 478, 468, 371, 471,
        481,  58,  39, 238, 108, 336, 140, 213, 450, 168,  12]])

In [20]:
#Checking the dimension
arr2.ndim

2

In [23]:
#Converting 2D to 1D dimension
arr2 = arr2.reshape(100)
arr2

array([427,  67, 346, 236, 221,  38, 333, 327, 425, 199, 164, 340,  91,
        44, 192,  25, 311, 431, 178, 274, 399,  67,  97, 439, 227,  82,
       100, 120, 252, 132,  73, 480, 448, 124, 304, 490, 311, 433, 144,
       110, 198, 396, 466, 267,   1,  19,  52, 481, 375, 353, 431, 268,
       183, 401, 103, 188, 324, 257, 308, 364, 140, 324, 217, 337, 119,
       300, 372,  60, 420, 216, 278,  88, 102,  63, 371, 477, 494, 392,
       351, 142, 418, 130, 458, 131, 212, 478, 468, 371, 471, 481,  58,
        39, 238, 108, 336, 140, 213, 450, 168,  12])

In [29]:
#Creating 3D dimesion array
arr3 = arr2.reshape(4,5,5)
arr3

array([[[312, 115, 334, 142, 425],
        [262, 303, 120, 396, 471],
        [259, 315, 314, 491, 112],
        [304, 241, 197, 287, 125],
        [ 80,  48, 196, 457, 284]],

       [[ 22, 197, 276, 439, 288],
        [401, 339, 172, 431, 300],
        [435, 493, 417, 279, 266],
        [ 19, 366,  95, 213,  98],
        [290, 230, 240, 118, 132]],

       [[416, 345, 321, 395,   2],
        [278, 389, 453, 381, 332],
        [306, 341,  86, 113, 378],
        [322, 360, 146,  30, 156],
        [188,  67, 376, 479, 468]],

       [[433,  58, 469, 196,  78],
        [217, 211, 484, 222, 117],
        [235,  69, 381,   7, 339],
        [407, 170, 161, 431,  86],
        [274, 423, 187,  30, 415]]])

In [30]:
#Checking dimension
arr3.ndim

3

In [32]:
#Converting from 3D to 1D
arr3 = arr3.reshape(100)
arr3

array([312, 115, 334, 142, 425, 262, 303, 120, 396, 471, 259, 315, 314,
       491, 112, 304, 241, 197, 287, 125,  80,  48, 196, 457, 284,  22,
       197, 276, 439, 288, 401, 339, 172, 431, 300, 435, 493, 417, 279,
       266,  19, 366,  95, 213,  98, 290, 230, 240, 118, 132, 416, 345,
       321, 395,   2, 278, 389, 453, 381, 332, 306, 341,  86, 113, 378,
       322, 360, 146,  30, 156, 188,  67, 376, 479, 468, 433,  58, 469,
       196,  78, 217, 211, 484, 222, 117, 235,  69, 381,   7, 339, 407,
       170, 161, 431,  86, 274, 423, 187,  30, 415])